<h1>welcome#index</h1>

<ul>
  <li><%= link_to 'Send Regular Email', send_regular_email_url, confirm: 'Confirm!' %></li>
  <li><%= link_to 'Generate Exception', exception_url, confirm: 'Do you really like troubles?' %></li>
</ul>
